@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Light.woff2') format('woff2'),
      url('./assets/fonts/Poppins-Light.woff') format('woff');
    font-style: normal;
  }

:root{
  --primary-blue: #30a0e0;
}
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
}
body{
  height: 100vh;
  background: linear-gradient(41deg, rgba(0,0,0,1) 0%, rgba(40,41,43,1) 89%, rgba(52,58,60,1) 100%);
  align-items: center;
}
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  gap: 40px;
}
.search{
  background-color: transparent;
  width: 200px;
  border: none;
  color: white;
}
.search-container{
  border: 1px solid white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 300px;
  gap: 10px;
  caret-color: white;
  margin-bottom: 30px;
}
button.search{
  width: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
button.search img{
  width: 20px;
  transition: 0.2s ease-in-out;
}
.search-container input:focus{
   outline: none;
}
.button-delete{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.button-delete img{
  width: 20px;
}
.main-forecast{
  min-width: 500px;
  display: flex;
  flex-direction: column;
}
.button-delete:active, button.search img:active{
  transform: scale(80%);
}
.city-name{
  color: white;
  font-size: 2rem;
}
.day-side img, .night-side img{
  width: 150px;
  height: 150px;
}
.weather-container{
  display:flex;
  justify-content: space-around;
}
.day-side, .night-side{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.day-temp, .night-temp{
  color: white;
  font-size: 1.3rem;
}
.add-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.pos-rain, .humidity, .wind-kmh, .current-temp{
  color: white;
  font-size: 1.1rem;
}
.main-date{
  font-size: 1.3rem;
  color: rgb(133, 133, 133);
}
.main-title{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}
.current-temp {
  font-size: 2rem;
}
.weather-animations{
  display: flex;
}
.carousel{
  display: flex;
  align-items: center;
}
.slide-list{
  display:flex;
}
.slide{
  display: none;
  width: 150px;
}
.data-active{
  opacity: 1;
  display: block;
}
.carousel-button-prev, .carousel-button-next{
  background-color: transparent;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.carousel-button-prev:hover, .carousel-button-next:hover{
  transform: scale(120%);
}
.carousel-button-prev img, .carousel-button-next img{
  width: 50px;
}
.end{
  filter: opacity(0.5);
  pointer-events: none;
  cursor: default;
}